/* ============================LIAM SECTION===================================== */








/* ==============================END LIAM SECTION=============================== */

/* =============================ATIF SECTION==================================== */
body{
  background:rgb(20, 19, 19);
  
  margin: 2% 2% 2% 2%;
}

.card-content{
  
  background: black;
  color: yellow;
}
.card .card-image .card-title {

  color: white;
  font-size: 14px;
  padding: 2% 0 1% 4%;
  
  
}
.card{
  width: 450px;
}







/* ========================END ATIF SECTION====================================== */


/* =================================THOR SECTION=================================== */

/* stuff from the parallax template for general stylings */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}







/* ================================END THOR SECTION================================= */


/* ================================SAM SECTION========================================= */









/* ================================END SAM SECTION======================================= */