/* ============================LIAM SECTION===================================== */








/* ==============================END LIAM SECTION=============================== */

/* =============================ATIF SECTION==================================== */










/* ========================END ATIF SECTION====================================== */


/* =================================THOR SECTION=================================== */

/* my stylings */

.brand-logo {
    width: 64px;
    height: 64px;
}

/* stylings for eventbrite form */

input {
    display: block;
  }

  .ebForm {
    display: inline-block;
    padding: 20px;
    border: black solid 2px;

  }
  .ebForm * {
    margin: 10px;
  }

/* stylings for eventbrite carousel items */
.carousel {
    width: 600px;
    height: auto;
}

.carousel img {
    height: 100%;
}



/* stuff from the parallax template for general stylings */
nav ul a,
nav .brand-logo {
  color:#424242;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}







/* ================================END THOR SECTION================================= */


/* ================================SAM SECTION========================================= */









/* ================================END SAM SECTION======================================= */